// font
$font-primary: 'Karla', sans-serif;

//colors
$color-blue: hsl(179, 62%, 43%);
$color-blue-light: #4abebd;
$color-yellow: hsl(71, 73%, 54%);
$color-gray: hsl(204, 43%, 93%);
$color-gray-blue: hsl(218, 22%, 67%);

$bp-phone: 45em;
